In [1]:
import numpy as np
import pandas as pd

In [13]:
# read the dataset
reviews_data = pd.read_json(r"C:\Users\user\Documents\UoM\Thesis\data\Clothing_Shoes_and_Jewelry_5.json", lines=True)

In [14]:
# overview of the data
reviews_data.head()

,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0000031887,"[0, 0]",5,This is a great tutu and at a really great pri...,"02 12, 2011",A1KLRMWW2FWPL4,"Amazon Customer ""cameramom""",Great tutu- not cheaply made,1297468800
1,0000031887,"[0, 0]",5,I bought this for my 4 yr old daughter for dan...,"01 19, 2013",A2G5TCU2WDFZ65,Amazon Customer,Very Cute!!,1358553600
2,0000031887,"[0, 0]",5,What can I say... my daughters have it in oran...,"01 4, 2013",A1RLQXYNCMWRWN,Carola,I have buy more than one,1357257600
3,0000031887,"[0, 0]",5,"We bought several tutus at once, and they are ...","04 27, 2014",A8U3FAMSJVHS5,Caromcg,"Adorable, Sturdy",1398556800
4,0000031887,"[0, 0]",5,Thank you Halo Heaven great product for Little...,"03 15, 2014",A3GEOILWLK86XM,CJ,Grammy's Angels Love it,1394841600

In [16]:
reviews_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278677 entries, 0 to 278676
Data columns (total 9 columns):
asin              278677 non-null object
helpful           278677 non-null object
overall           278677 non-null int64
reviewText        278677 non-null object
reviewTime        278677 non-null object
reviewerID        278677 non-null object
reviewerName      278225 non-null object
summary           278677 non-null object
unixReviewTime    278677 non-null int64
dtypes: int64(2), object(7)
memory usage: 19.1+ MB

In [17]:
# Check if there are columns where reviews are null
print(reviews_data['reviewText'].isna().value_counts())

# Drop the products whose values are null
reviews_data = reviews_data[reviews_data['reviewText'].notna()]

False    278677
Name: reviewText, dtype: int64

In [18]:
# Basic statistics on the dataset
number_of_reviews = reviews_data.size
unique_users = reviews_data['reviewerID'].nunique()
unique_products = reviews_data['asin'].nunique()
Average_reviews_per_user = round(reviews_data.groupby('reviewerID').size().mean())
Average_reviews_per_product = round(reviews_data.groupby('asin').size().mean())
userMaxReviews = max(reviews_data.groupby('reviewerID').size())
productMaxReviews = max(reviews_data.groupby('asin').size())

print("Basic Statistics on the dataset")
print("--------------------------------")
print("Size of the dataset: ", number_of_reviews)
print("Number of unique users: ", unique_users)
print("Number of unique products: ", unique_products)
print("Average number of reviews per user: ", Average_reviews_per_user)
print("Average number of reviews per product: ", Average_reviews_per_product)
print("Number of max reviews of a user: ", userMaxReviews)
print("Number of max reviews of a product: ", productMaxReviews)

Basic Statistics on the dataset
--------------------------------
Size of the dataset:  2508093
Number of unique users:  39387
Number of unique products:  23033
Average number of reviews per user:  7
Average number of reviews per product:  12
Number of max reviews of a user:  136
Number of max reviews of a product:  441

In [19]:
# Frequency of each rating
reviews_data['overall'].value_counts()

5    163240
4     58357
3     30425
2     15463
1     11192
Name: overall, dtype: int64